@font-face {
	font-family: "Merriweather-Regular";
	src: url("../font/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Miller-Display_30501";
	src: url("../font/Miller-Display_30501.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Regular";
	src: url("../font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url("../font/Montserrat-Bold.ttf") format("truetype");
}